#!/usr/bin/make -f

%:
	dh $@ --with quilt,autoreconf --builddirectory=build/ --parallel

override_dh_makeshlibs:
	dh_makeshlibs -- -c4

override_dh_install:
	dh_install --fail-missing -X.la

override_dh_auto_configure:
	dh_auto_configure -- --disable-silent-rules

override_dh_auto_test:
	dh_auto_test -- VERBOSE=1
